html {
  font-size: 18px;
  color: black;
}

body {
  width: 960px;
  font-family: helvetica;
  font-size: 1rem;
  line-height: 1.4rem;
  display: block;
}

/* Header Section */

.headercontainer {
  height: 30rem;
  color: white;
  background-image: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
  padding-top: 1rem;
}

.navbar {
  background-color: cadetblue;
  display: flex;
  padding: 1rem 0;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.logocontainer {
  display: flex;
  align-items: center;
}

.whitelogo {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

.navcontainer {
  padding-right: 2rem;
}

.navcontainer .item {
  padding: 1rem 1rem;
}

.imagecontainer {
  display: flex;
  justify-content: flex-end;
}

.container {
  background-color: white;
  color: black;
  padding: 1.5rem 5rem;
  margin-top: 10rem;
  margin-right: -2rem;
}

.container h1 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}

/* Main Section */

.maincontainer {
  display: block;
  flex-direction: row;
  justify-content: center;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.image {
  display: flex;
  height: 8rem;
  margin: 3rem 3rem;
  padding: 0 3rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

#paper {
  width: 3.5rem;
}

#ruler {
  width: 5rem;
}

.image p {
  display: inline-block;
  align-items: baseline;
}

.maintextcontainer {
  display: ;
  padding: 3rem 0 5rem 0;
}

.title {
  padding: 0 2.5%;
}
.title p {
  width: 35%;
  padding-top: 1rem;
}

.title span {
  background-color: cadetblue;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  width: 10rem;
  padding: 0.5rem 1.25rem;
}

/* Footer Section */

.footercontainer {
  display: flex;
  background-color: azure;
  justify-content: flex-start;
  align-items: center;
}

.blacklogo {
  padding: 4rem 1rem 4rem 4rem;
  height: 1.5rem;
}
